/* ============= CSS Link ============= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

/* ===== Common and shared css ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

p {
  color: #717171;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

a {
  text-decoration: none;
}

span {
  color: #4caf4f;
}

.hide {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
}

.section-title {
  color: #4d4d4d;
  font-size: 2rem;
  font-weight: 600;
  line-height: 44px;
}

.primary-btn {
  border: 0;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  padding: 12px 28px;
  transition: all 0.2s;
  background: #4caf4f;
}

.primary-btn:hover {
  background: #49cc4d;
}

/* ======== Navbar design started ======== */
nav {
  display: flex;
  align-items: center;
  padding: 0 110px;
  height: 84px;
  text-align: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin: 0 24px;
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #4caf4f;
  text-decoration: underline;
}

.logo {
  display: flex;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-text {
  margin-left: 8px;
}

.login-btn {
  color: #49cc4d;
  background: none;
  border: 1px solid #49cc4d;
}

.login-btn:hover {
  color: #ffff;
}

/* ============= Header section design start ============= */
header {
  background: #f5f7fa;
}

.banner {
  gap: 100px;
  display: flex;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;
}

.banner-right h2 {
  color: #4d4d4d;
  font-size: 4rem;
  font-weight: 600;
  line-height: 76px;
}

.banner-right p {
  margin-top: 16px;
  margin-bottom: 32px;
}

/* ============= Our Clients section design start ============= */
.our-clients-content {
  margin: 40px auto;
  text-align: center;
}

.short-description {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.clients-img-content {
  display: flex;
  margin: 60px 0;
  align-items: center;
  justify-content: space-between;
}

.client-card-container {
  gap: 80px;
  display: flex;
  margin-top: 28px;
  justify-content: space-between;
}

.client-card-container .card {
  border-radius: 8px;
  padding: 24px 32px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

.card img {
  border-radius: 18px 5px 10px 5px;
  background: #e8f5e9;
  padding: 8px;
}

.client-card-container .card-title {
  color: #4d4d4d;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 16px 0;
}

.unseen-container {
  gap: 50px;
  display: flex;
  padding: 50px 0;
  align-items: center;
  justify-content: space-between;
}

.unseen-text-content {
  text-align: left;
}

.unseen-description-text {
  margin-top: 16px;
  margin-bottom: 40px;
}

/* ============= Helping business section design start ============= */
.helping-section {
  background: #f5f7fa;
}

.helping-content {
  display: flex;
  padding: 66px 0;
  align-items: center;
  justify-content: space-between;
}

.helping-text {
  font-weight: 400;
  font-size: 18px;
  color: #18191f;
  margin-top: 10px;
}

.helping-column-2 {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}

.local-business-count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.local-business-count h3 {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 700;
  /* line-height: 36px; */
}

.local-business-count img {
  max-width: 100%;
  height: 90%;
}

/* ============= Meet all customers section design start ============= */
.customers-section {
  background: var(--Neutral-Silver, #f5f7fa);
}

.customer-all-content {
  display: flex;
  gap: 80px;
  align-items: center;
  margin: 46px auto;
  padding: 36px 0;
}

.customer-image {
  max-width: 100%;
}

.customer-Association {
  color: #4caf4f;
  font-size: 20px;
  margin: 16px 0;
  font-weight: 500;
}

.customer-box {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-cstmr {
  color: var(--Brand-Primary, #4caf4f);
  font-size: 20px;
  font-weight: 500;
}

/* ========== Responsive media queries ========== */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .banner,
  .client-card-container,
  .unseen-container,
  .helping-content,
  .customer-all-content {
    padding: 30px;
  }

  .helping-column-2 {
    grid-template-columns: 1fr;
  }

  nav,
  .client-card-container,
  .banner,
  .unseen-container,
  .helping-content,
  .customer-all-content {
    flex-direction: column;
  }

  .helping-content {
    gap: 80px;
  }
  .unseen-img img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .clients-img-content,
  .client-card-container,
  .unseen-container,
  .banner,
  .helping-content,
  .customer-all-content,
  .customer-box {
    flex-direction: column;
  }

  .clients-img-content,
  .client-card-container,
  .customer-box,
  .customer-all-content {
    gap: 24px;
  }

  .customer-image,
  .unseen-img img {
    max-width: 100%;
  }

  .banner,
  .client-card-container,
  .unseen-container,
  .helping-content,
  .customer-all-content {
    padding: 20px;
  }

  .helping-column-2 {
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .helping-content {
    gap: 50px;
  }

  .customer-image img {
    width: 100%;
  }
  .banner-left img {
    width: 100%;
  }

  nav {
    display: none;
  }
}
